* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: black;
    height: 75px;
    color: white;
    text-align: center;
}
main {
    margin-top: 2%;
    width: 100%;
    height: auto;
}
form{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 500px;
    border: 2px solid black;
    padding: 20px;
}
.form-control label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-control input{
    height: 25px;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 2%;
}
.form-button {
    margin-top: 3.5%;
}
.form-button button{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.lista {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    list-style: none;
}
.users {
    border: 1px solid black;
    padding: 20px;
}
.users h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.users p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}